<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{appname}}</title>
  <link rel="stylesheet" href="/lib/css/bootstrap.min.css" >
  <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand mr-lg-4" href="{{home}}">{{appname}}</a>
    <a class="btn btn-secondary ml-4" href="{{home}}">Home</a>
  </nav>
  <div class="container-fluid">
    {{{body}}}
  </div>
  <footer class="text-center text-white bg-success py-3">
    <p class="my-0 py-0">Copyright &copy; 2021, {{author}}.</p>
  </footer>
  <script src="/lib/js/jquery.min.js"></script>
  <script src="/lib/js/bootstrap.bundle.min.js"></script>
</body>
</html>