<div class="row text-white banner clearfix">
  <div class="col-md-6 py-4 content">
    <h2 class="display-4" style="width: 60%;">{{appname}}</h2>
    <p class="lead my-4"><span class="pr-4">---</span>Designed By {{author}}</p>
  </div>
  <div class="col-md-6 py-4 content d-flex flex-wrap justify-content-around">
    <a href="" class="round-link bg-info text-white d-flex" data-toggle="modal" data-target="#addAppointment">
      <span class="lead">Book Appointment</span>
    </a>
    <a href="" class="round-link bg-warning text-white d-flex" data-toggle="modal" data-target="#askQuestion">
      <span class="lead">Ask Question</span>
    </a>
    <a href="/patient/appointment/{{user._id}}" class="round-link bg-success text-white d-flex">
      <span class="lead">Show Appointments</span>
    </a>
    <a href="/patient/question/{{user._id}}" class="round-link bg-primary text-white d-flex">
      <span class="lead">Show Answers</span>
    </a>
  </div>

  <!-- Appointment Modal -->
  <div class="modal fade" id="addAppointment" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-info">
        <div class="modal-header">
          <h5 class="modal-title">Book a Doctor's Appointment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <form action="/patient/appointment/book/{{user._id}}" method="POST">
            <div class="form-group">
              <label class="mb-2">Reason for appointment:</label>
              <textarea name="title" id="" cols="30" rows="4" class="form-control" placeholder="Give a short reason for the appointment..." required="required"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-outline-dark">Book Appointment</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="askQuestion" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-warning">
        <div class="modal-header">
          <h5 class="modal-title">Consult with a doctor</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <form action="/patient/question/{{user._id}}" method="POST">
            <div class="form-group">
              <label class="mb-2">Question:</label>
              <textarea name="title" id="" cols="30" rows="4" class="form-control" placeholder="Ask your question..." required="required"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-outline-success">Send</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>